.background{
        background-image:url('https://www.kotak.com/content/dam/Kotak/herosliderbanner/prepaid-cards.png') ;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center; 
        padding-bottom: 50px;
        height: 350px;
        font-family:'Times New Roman', Times, serif;
        color: black;
        text-align: center;
        font-size: larger;
}
.tools{
        background-color:azure;
        height: 100px;  
}
.cards1{
        margin-top: 50px; 
        justify-content: space-around;
        display: flex;
       
}
.cards2{
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
}
.footer{
        margin-top: 30px;
}
.sticky-nav {
        position: fixed;
        /*position: sticky;*/
        top: 0;
      }
.body{
        background-image: url('https://media.gettyimages.com/id/1444966373/video/flying-forward-over-circuit-boards-with-glowing-connection-lines-light-blue-loopable.jpg?s=640x640&k=20&c=ttXul0oAVqDlop71y0zM-U8YRBo1zutBB2vvO1A9hbI=');
        background-size: cover;
}