
  .bank-icons {
    display: flex;
    justify-content: space-between;
    max-width:'100%'; /* Adjust the maximum width as needed */
  }

  .bank-icons img {
    max-width: 100px; /* Adjust the maximum width of each icon */
  }

  .bank-icons {
    display: flex;
    justify-content: space-between;
    max-width:'100%'; /* Adjust the maximum width as needed */
  }

  .bank-icons img {
    max-width: 100px; /* Adjust the maximum width of each icon */
  }